.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-logo h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .navbar-navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-navigation ul li {
    padding: 0 20px;
  }
  
  .navbar-navigation ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .navbar-login button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-login button:hover {
    background-color: #232423;
  }
  