.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: flex-end;
  z-index: 1000; 
}

.login-modal {
  background: white;
  width: 100%; 
  max-width: 400px;
  height: 100%;
  padding: 30px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.close-modal {
  position: absolute;
  top: 30px; 
  right: 20px;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #707070; 
  transition: color 0.3s ease;
}


.close-modal:hover {
  color: #000000;
}

.login-modal h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
}

.login-modal form {
  width: 100%;
}

.login-modal input {
  width: 93%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.login-modal .login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.login-modal .modal-footer {
  font-size: 0.9rem;
}

.login-modal .modal-footer a {
  color: #0056b3;
  text-decoration: none;
}

.login-modal .modal-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-modal {
    width: 90%;
  }
}
